{% layout "base.liquid" %}

<header class="page-header">
  <h1>{{ Title }}</h1>
</header>

<ul class="postlist">
  {% for item in Items %}
    <li><a href="{{ item.Url }}">{{ item.Title }}</a>{% if item.Meta.PublishedDateInSource %} — <time class="published dt-published" datetime="{{ item.Published | format_date: "O" }}" itemprop="datePublished" title="{{ item.Published | format_date: "dd MMMM yyyy HH:mm" }}">{{ item.Published | format_date: "dd MMMM yyyy" }}</time>{% endif %}</li>
  {% endfor %}
</ul>
