{% from 'helper' import renderPostHeader, renderTableOfContents %}
{% layout "base.liquid" %}

{% section bodyclass %}{% if Item.Meta.ShowTableOfContents %}class="article-page-with-toc"{% endif %}{% endsection %}

{% if Item.Meta.ShowTableOfContents %}
<div id="article-with-toc">
  <div class="article-with-toc-left">
{% endif %}

<article class="post-text h-entry hentry postpage postbox" itemscope="itemscope" itemtype="http://schema.org/Article">
  {{ renderPostHeader(Item, true) }}
{% if Item.Meta.ShowTableOfContents %}
  <div class="d-xl-none" id="toc-button">
    <button class="btn btn-outline-secondary" type="button" id="toc-btn" aria-controls="toc">
      <i class="bi bi-list"></i> Table of Contents
    </button>
  </div>
{% endif %}
  <div class="e-content entry-content {{ Item.ContentTag }}" id="post-content" itemprop="articleBody text">
    {% if Item.Teaser %}
      <div class="lead">
        {{ Item.Teaser | raw }}
      </div>
    {% endif %}
    {{ Item.Content | raw }}
  </div>
</article>

{% if Item.Meta.Guide %}
  <div class="card guide-footer">
    <div class="card-header bg-primary border-primary"><h3>That’s all!</h3></div>
    <div class="card-body">
      Hopefully, the guide worked for you and {{ Item.Meta.Guide.Effect }}. If so, great! Otherwise, make sure you did everything as stated in this guide. If you are still stuck, ask for help in the comments.
    </div>
    <div class="card-footer"><a href="/guides/">Check out my other guides!</a></div>
  </div>
{% endif %}

{% if PostNavigation.Previous != null or PostNavigation.Next != null %}
  <aside class="postpromonav">
    <nav>
      <ul class="pager hidden-print">
        {% if PostNavigation.Previous != null %}
          <li class="previous">
            <a href="{{ PostNavigation.Previous.Url }}" rel="prev" class="btn btn-outline-secondary"
               title="{{ PostNavigation.Previous.Title }}">← Previous post</a>
          </li>
        {% endif %}
        {% if PostNavigation.Next != null %}
          <li class="next">
            <a href="{{ PostNavigation.Next.Url }}" rel="prev" class="btn btn-outline-secondary"
               title="{{ PostNavigation.Next.Title }}">Next post →</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </aside>
{% endif %}

{% if Item.Meta.Comments %}
  <section class="comments" id="comments">
    <div data-title="{{ Item.Title }}" id="isso-thread"></div>
    <script src="https://isso.chriswarrick.com/js/embed.min.js" data-isso="https://isso.chriswarrick.com/"
            data-isso-lang="en" data-isso-require-author="true" data-isso-require-email="true" data-isso-gravatar="true"
            data-isso-avatar="false" data-isso-css="false" data-isso-vote="false"
            data-isso-reply-notifications="true"></script>
  </section>
{% endif %}

{% if Item.Meta.ShowTableOfContents %}
</div>

<div class="offcanvas-xl offcanvas-end article-with-toc-right" tabindex="-1" id="toc" aria-labelledby="toc-label" data-bs-scroll="true" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="toc-label">Table of Contents</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#toc" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body toc-body">
    <div>
    <a href="#" class="toc-standalone"><i class="bi bi-arrow-up"></i> <span>Scroll to Top</span></a>
    {{ renderTableOfContents(Item.TableOfContents) }}
{% if Item.Meta.Comments %}
    <a href="#comments" class="toc-standalone"><i class="bi bi-chat-left-text"></i> <span>Comments</span></a>
    </div>
{% endif %}
  </div>
</div>
</div>
{% endif %}
