{% layout "base.liquid" %}

<header class="page-header">
  <h1>{{ Title }}</h1>
</header>

<div class="float-md-right"><a href="/projects/" class="btn btn-secondary btn-header-line">← Projects</a></div>
<p class="lead">{{ Item.Meta.Description }}</p>

{% if Item.Meta.Project.Logo %}
<div class="media">
  <div class="media-body">
    {% endif %}
    <div class="card project-card border-primary">
      <div class="card-header bg-primary"><h3><i class="fa fa-info-circle"></i><span class="project-header-details">Details</span></h3></div>

      <table class="table table-hover">
        <tr>
          <td><b>Status</b></td>
          <td>{{ Item.Meta.Project.DevStatus | projectDevStatus }}</td>
        </tr>

        {% if Item.Meta.Project.Language %}
          <tr>
            <th>Language</th>
            <td>{{ Item.Meta.Project.Language }}</td>
          </tr>
        {% endif %}

        {% if Item.Meta.Project.License %}
          <tr>
            <th>License</th>
            <td>{{ Item.Meta.Project.License }}</td>
          </tr>
        {% endif %}

        {% if Item.Meta.Project.Role %}
          <tr>
            <th>Role</th>
            <td>{{ Item.Meta.Project.Role }}</td>
          </tr>
        {% endif %}

      </table>
      {% if Item.Meta.Project.Link or Item.Meta.Project.Download or Item.Meta.Project.GitHub or Item.Meta.Project.BugTracker %}
        <div class="card-footer">
          {% if Item.Meta.Project.link %}
            <a href="{{ Item.Meta.Project.link }}" class="btn btn-lg btn-primary"><i class="fa fa-link"></i> Website</a>
          {% endif %}
          {% if Item.Meta.Project.Download == true and Item.Meta.Project.Link == false %}
            <a href="{{ Item.Meta.Project.Download }}" class="btn btn-lg btn-primary"><i class="fa fa-download"></i> Download</a>
            {% elsif Item.Meta.Project.Download %}
            <a href="{{ Item.Meta.Project.Download }}" class="btn btn-lg btn-success"><i class="fa fa-download"></i> Download</a>
          {% endif %}
          {% if Item.Meta.Project.GitHub %}
            <a href="{{ Item.Meta.Project.GitHub }}" class="btn btn-lg btn-info"><i class="fab fa-github"></i> GitHub</a>
          {% endif %}
          {% if Item.Meta.Project.Gallery %}
            <a href="{{ Item.Meta.Project.Gallery }}" class="btn btn-lg btn-success"><i class="far fa-image"></i> Gallery</a>
          {% endif %}
          {% if Item.Meta.Project.BugTracker %}
            <a href="{{ Item.Meta.Project.BugTracker }}" class="btn btn-lg btn-danger"><i class="fa fa-bug"></i> Bug Tracker</a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {{ Item.Content | raw }}
    {% if Item.Meta.Project.Logo %}
  </div>
  <div class="float-md-right">
    <img class="media-object" src="{{ Item.Meta.Project.Logo }}" alt="{{ Title }}">
  </div>
</div>
{% endif %}
