{% layout "base.liquid" %}
<header class="page-header"><h1>Tags and Categories</h1></header>

<h2>Categories</h2>
<ul class="tags list-inline all-categories-list">
  {% for link in links %}
  {% if link.SubGroup == "category" %}
  <li class="list-inline-item category-bubble">
    <a class="badge" href="{{ link.Url }}" style="background-color: {{ link.Title | categoryColor }} !important">{{ link.Title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>Tags</h2>
<ul class="tags list-inline all-tags-list">
  {% for link in links %}
    {% if link.SubGroup == "tag" %}
      <li class="list-inline-item">
        <a class="badge" href="{{ link.Url }}">{{ link.Title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
